body, *, *:before, *:after{
	box-sizing: border-box;
}

html, body{
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 16px;
	color: #474747;
}

img{
	border-radius: 5px;
}

a{
	text-decoration: none;
	color: inherit; 
}

h1{
	margin-bottom: 10px;
	text-transform: uppercase;
}

p{
	margin-top: 10px;
}

section img{
	width: 100%;
}

.s1{
	text-align: justify;
}

.s2{
	display: block;
	float: left;
	width: 30%;
	margin-right: 5%;
	text-align: justify;
}

.s2:last-child{
	margin-right: 0;
	text-align: justify;
}

.s3{
	display: block;
	float: left;
	width: 22%;
	margin-right: 4%;
	text-align: justify;
}

.s3:last-child{
	margin-right: 0;
	text-align: justify;
}

.s3 header img{
	height: 130px;
}

.fixed-width{
	width: 940px;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.page-header{
	border-top: 5px solid #ebebeb;
	margin-bottom: 20px;
}

.page-header .identity{
	font-size: 3.5em;
	font-family: 'Pacifico', cursive;
	position: absolute;
	bottom: 0;	
}

.page-header > div{
	position: relative;
}

.page-header nav{
	float: right;
	font-family: "Economica";
	text-transform: uppercase;
}

.page-header li em{
	color: #474747;
	font-size: 1.6em;
	display: block;
	font-weight: bold;
}

.page-header nav li{
	float: left;
	margin-right: 3rem;
	padding-top: 3rem;
	color: #bfbfbf;
}

.page-header nav li:last-child{
	margin-right: 0;
}

.page-footer:before{
	content: " ";
	display: block;
	height: 5px;
	background: url(images/pattern.png) left top repeat-x;
}

.page-footer{	
	margin-top: 10px;
	background-color: green;
	height: 70px;
}
/*
.page-footer div .footer1{
	float: right;
}
*/

.footer1{
	text-align: left;
}

.footer2{
	float: right;
}

.s2 header i{
	font-size: 1.5rem;
	font-weight: bold;
	color: #9a9a9a;
	float: left;
	width: 25%;
}

.s2 header h1{
	font-size: 1.5rem;
	float: left;
	width: 75%;
}

.MLW{
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-weight: bold;
	color:  white;
	font-size: 1.5rem;
	background: url(202544.jpg) left top repeat-x;
}

.fom{
	font-size: 1rem;
	color: black;
	font-weight: bold;
}

.fom > i{
	font-size: 1rem;
	color: black;
	font-weight: bold;
}